<div class="botao-cadastro">
    <a routerLink="/turmas/cadastro">Cadastro</a>
</div>

<table>
    <thead>
        <tr>
            <th>Nome da Turma</th>
            <th>Sigla da Turma</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (turma of turmas; track turma) {
        <tr>
            <td>{{turma.nome.toUpperCase()}}</td>
            <td>{{turma.sigla}}</td>
            <td>
                <button (click)="editarTurma(turma)">Editar</button>
                <button class="botao-apagar" (click)="apagarTurma(turma)">Apagar</button>
            </td>
        </tr>
        }
    </tbody>
</table>