<h2>Lista de Turmas</h2>
<a routerLink="/turmas/cadastro">Cadastrar nova turma</a>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    @for (turma of turmas; track turma.id; let i = $index) {
      <tr>
        <td>{{ i }}</td>
        <td>{{ turma.nome }}</td>
        <td>{{ turma.sigla }}</td>
        <td>
          <button (click)="editar(turma)">Editar</button>
          <button (click)="apagar(turma)">Excluir</button>
        </td>
      </tr>
    }
  </tbody>  


