[Desktop Entry]
Encoding=UTF-8
Name=Link para file:///home/vitor/%C3%81rea%20de%20trabalho/sup-school-ng/biblioteca-ng/src/app/app.spec.ts
Type=Link
URL=file:///home/vitor/%C3%81rea%20de%20trabalho/sup-school-ng/biblioteca-ng/src/app/app.spec.ts
Icon=text-vnd.trolltech.linguist
